<div class="main">
  <app-header></app-header>
  <section class="login_page">
    <div class="container">
      <div class="row" *ngIf="isValidUrl">
        <div class="col-lg-5 mx-auto">
          <form class="form-signin" (ngSubmit)="onSubmit()" name="resetPasswordForm" [formGroup]="resetPasswordForm">
            <div class="form-label-group">
              <label for="inputEmail">New Password</label>
              <input type="password" formControlName="Password" id="inputpassword" class="form-control" placeholder="New Password">
              <span (click)="show('inputpassword')"><img src="https://i.stack.imgur.com/Oyk1g.png" id="inputpasswordEYE" style="margin-top: -34px;float: right; margin-right: 18px;cursor: pointer;"></span>
              <div class="text-danger"
                *ngIf="f.Password.invalid && (f.Password.dirty || f.Password.touched || isSubmit)">
                <span *ngIf="f.Password.errors.required">
                  Please enter a password
                </span>
                <span *ngIf="f.Password.errors?.pattern">
                  Password must contain 1 Capital,1 Small,1 Number,
                  1 special and 8 character long
                </span>
                <span *ngIf="f.Password.errors?.maxlength">
                  Password cannot be more than 15 characters
                </span>
              </div>
            </div>
            <div class="form-label-group">
              <label for="inputEmail">Confirm Password</label>
              <input type="password" formControlName="ConfirmPassword" id="confirmpassword" class="form-control"
                placeholder="Confirm Password">
                <span (click)="show('confirmpassword')"><img src="https://i.stack.imgur.com/Oyk1g.png" id="confirmpasswordEYE" style="margin-top: -34px;float: right; margin-right: 18px;cursor: pointer;"></span>
              <div class="text-danger" *ngIf="this.resetPasswordForm.hasError('passwordNotMatch')">
                <span *ngIf="resetPasswordForm.hasError('passwordNotMatch')">Password and confirm password not
                  matched</span>
              </div>
            </div>
            <div class="custom-control">
            </div>
            <button class=" btn_sub" type="submit">Submit</button>
          </form>
        </div>
      </div>
      <div class="row" *ngIf="!isValidUrl">
        <div class="reset-password-div">
          <h1>Reset Password Link Not Valid</h1>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
