<div class="main">
  <app-header></app-header>
  <section class="vh-100 login_page" style="background-color: #508bfc; height: 515px "  >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5">
              <form class="form-signin" (ngSubmit)="onSubmit()" name="forgetPasswordForm" [formGroup]="forgetPasswordForm">
                <div class="form-label-group">
                  <label for="inputEmail">Email address</label>
                  <input type="email" name="Email" formControlName="Email" id="inputEmail" class="form-control"
                    placeholder="Email address">
                  <div class="text-danger" *ngIf="f.Email.invalid && (f.Email.dirty || f.Email.touched || isSubmit)">
                    <span *ngIf="f.Email.errors.required">
                      Please enter a email
                    </span>
                    <span *ngIf="f.Email.errors?.pattern">
                      Please provide a valid email address
                    </span>
                  </div>
                  <div class="custom-control" style="float: right;">
                    <a class="forgot_password" [routerLink]="['/login']">Go To Login</a>
                  </div>
                </div>

                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
