<div class="card">
<div class="row">
  <div class="col-lg-12">

      <div class="d-sm-flex justify-content-between">
        <div class="userinfo">
          <form class="form_common_style" (ngSubmit)="onSubmit()" name="UserForm" [formGroup]="UserForm">
            <div class="row">
              <div class="col-6">
                <label>First name <span>*</span></label>
                <input type="text" formControlName="FirstName" class="form-control form-input"
                  placeholder="Enter firstname">
                <div class="text-danger"
                  *ngIf="f.FirstName.invalid && (f.FirstName.dirty || f.FirstName.touched || isSubmit)">
                  <span *ngIf="f.FirstName.errors.required">
                    Please enter firstname
                  </span>
                </div>
                <span *ngIf="f.FirstName.errors?.pattern" class="text-danger">
                  Special characters and number are not allowed
                </span>
              </div>
              <div class="col-6">
                <label>Last name <span>*</span></label>
                <input type="text" formControlName="LastName" class="form-control form-input"
                  placeholder="Enter lastname">
                <div class="text-danger"
                  *ngIf="f.LastName.invalid && (f.LastName.dirty || f.LastName.touched || isSubmit)">
                  <span *ngIf="f.LastName.errors.required">
                    Please enter lastname
                  </span>
                </div>
                <span *ngIf="f.LastName.errors?.pattern" class="text-danger">
                  Special characters and number are not allowed
                </span>
              </div>
              <div class="col-6">
                <label>Email <span>*</span></label>
                <input type="text" formControlName="Email" (blur)="onBlurMethod()" class="form-control form-input"
                  placeholder="Enter email">
                <div class="text-danger" *ngIf="f.Email.invalid && (f.Email.dirty || f.Email.touched || isSubmit)">
                  <span *ngIf="f.Email.errors.required">
                    Please enter email
                  </span>
                </div>
                <span class="text-danger" *ngIf="f.Email.errors?.pattern">
                  Please provide a valid email address
                </span>
                <span class="text-danger" *ngIf="IsError == true">
                  Email already exist !
                </span>
              </div>
              <div class="col-6">
                <label>Password </label>
                <input type="Password" formControlName="Password" class="form-control form-input" id="inputPassword"
                  placeholder="Enter password">
                  <span (click)="show()"><img src="https://i.stack.imgur.com/Oyk1g.png"
                    id="EYE" style="margin-top: -73px;float: right;margin-right: 18px;cursor: pointer;">
                  </span>
                  <app-password-strength class="password-policy-admin" *ngIf="f.Password.errors?.pattern || f.Password.errors?.maxlength || isSubmit"
                    [passwordToCheck]="this.UserForm.value.Password">
                  </app-password-strength>
              </div>
              <div class="col-6" *ngIf="role == 1">
                <label>Company <span>*</span></label>
                <select class="form-control form-input" formControlName="CompanyId" (change)="GetDepartmentList($event)"
                  name="CompanyId" required>
                  <option [ngValue]=null>-- Select --</option>
                  <option *ngFor="let dropdown of dropDownCompany" [ngValue]="dropdown.CompanyId">
                    {{dropdown.CompanyName}}
                  </option>
                </select>
                <div class="text-danger" *ngIf="f.CompanyId.invalid && (f.CompanyId.dirty || f.CompanyId.touched)">
                  <span *ngIf="f.CompanyId.errors.required">
                    Please select company name
                  </span>
                </div>
              </div>
              <div class="col-6" *ngIf="role == 1 || role == 2 || role == 3 || role == 4 || role == 5">
                <label>Department <span>*</span></label>
                <select class="form-control form-input" formControlName="DepartmentId" name="DepartmentId" required>
                  <option [ngValue]=null>-- Select --</option>
                  <option *ngFor="let dropdown of dropDownDepartment" [ngValue]="dropdown.DepartmentId">
                    {{dropdown.DepartmentName}}
                  </option>
                </select>
                <div class="text-danger"
                  *ngIf="f.DepartmentId.invalid && (f.DepartmentId.dirty || f.DepartmentId.touched || isSubmit)">
                  <span *ngIf="f.DepartmentId.errors.required">
                    Please select department name
                  </span>
                </div>
              </div>

              <div class="col-6" *ngIf="role == 2 || role == 3 || role == 4 || role == 5">
                <label>Role <span>*</span></label>
                <select class="form-control form-input" formControlName="RoleId" name="RoleId" required>
                  <option [ngValue]=null>-- Select --</option>
                  <option *ngFor="let dropdown of dropDownRole" [ngValue]="dropdown.RoleId">
                    {{dropdown.RoleName}}
                  </option>
                </select>
                <div class="text-danger" *ngIf="f.RoleId.invalid && (f.RoleId.dirty || f.RoleId.touched || isSubmit)">
                  <span *ngIf="f.RoleId.errors.required">
                    Please select rolename
                  </span>
                </div>
              </div>

              <div class="col-6">
                <label>Gender <span>*</span></label>
                <select class="form-control form-input" formControlName="Gender" name="Gender" required>
                  <option [value]=null>-- Select --</option>
                  <option *ngFor="let dropdown of Genders" [value]="dropdown.value">
                    {{dropdown.name}}
                  </option>
                </select>
                <div class="text-danger" *ngIf="f.Gender.invalid && (f.Gender.dirty || f.Gender.touched || isSubmit)">
                  <span *ngIf="f.Gender.errors.required">
                    Please select gender
                  </span>
                </div>
              </div>

              <div class="col-6">
                <label>Reporting To</label>
                <select class="form-control form-input" formControlName="ReportingTo" name="ReportingTo" required>
                  <option [ngValue]=null>-- Select --</option>
                  <option *ngFor="let dropdown of dropDownReporting" [ngValue]="dropdown.ReportingTo">
                    {{dropdown.ReportingPerson}}
                  </option>
                </select>
              </div>
              <div class="col-12 mt-3">
                <button class="btn submit-btn" style="margin: 3px;" type="submit">Save</button> &nbsp;
                <button class="btn cancel-btn" style="margin: 3px;" type="button"
                  (click)="onSaveOrCancel('cancel')">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>

  </div>
</div>
</div>
