<div class="password-require">
  <div class="password-require-left">8..<span
      [ngStyle]="{'color': (passwordToCheck?.length >=8 && passwordToCheck?.length <=15) ? 'green' : 'red' }">{{passwordToCheck?.length}}..</span>15</div>
  <div class="password-require-middle" [ngStyle]="{'color': symbols ? 'green' : 'red' }">$/@</div>
  <div class="password-require-middle-box" [ngClass]="{'bg-success': numbers,'bg-danger': !numbers}"><span
      style="color: white;">0-9</span></div>
  <div class="password-require-middle-box" [ngClass]="{'bg-success': lowerLetters,'bg-danger': !lowerLetters}"><span
      style="color: white;">a</span></div>
  <div class="password-require-middle-box" [ngClass]="{'bg-success': upperLetters,'bg-danger': !upperLetters}"><span
      style="color: white;">A</span></div>
</div>
