

.selecter {
  margin-left: 2px;
  width: 200px
}
.tabmenu {
     margin-left: 140px;
    width: 573px;
    padding: 16px;
    margin-top: -36px
}
.menuDetail {
  margin-left: 11px
}

::ng-deep.name-pro{
  width: 180px;
  padding-right: 10px;
}
::ng-deep.hr-pro {
  width: 120px;
  padding-left: 10px;
}

::ng-deep.progress-bar-h .progress , .progress-bar-h {
  height: 9px;
}
::ng-deep.progress-bar-h .progress , .progress-bar-h {
  border-radius: 0px;
}

  .cal-margin{
    margin-left: 133px;
  }

  .a-left{
    margin-left: 315px;
    color: #898b8f;
  }
  .a-left, ul, li {
    text-decoration: underline;
}
