<div class="card">
  <div class="row">
    <div class="col-lg-10">
      <!-- <div class="card admin-profile bg-light shadow mb-4"> -->
      <div class="d-sm-flex justify-content-between">
        <div class="userinfo">
          <form class="form_common_style" (ngSubmit)="onSubmit()" name="DepartmentForm" [formGroup]="DepartmentForm">
            <div class="row">
              <div class="col-12">
                <label>Department name</label>
                <input formControlName="DepartmentName" name="DepartmentName" id="inputDepartmentName"
                  class="form-control form-input ng-pristine ng-invalid ng-touched" placeholder="Department name">
                <div class="text-danger"
                  *ngIf="f.DepartmentName.invalid && (f.DepartmentName.dirty || f.DepartmentName.touched || isSubmit)">
                  <span *ngIf="f.DepartmentName.errors.required">
                    Please enter department name
                  </span>
                </div>
                <span *ngIf="f.DepartmentName.errors?.pattern" class="text-danger">
                  Special characters and number are not allowed
                </span>
              </div>
              <div class="col-12 mt-3">
                <button class="btn submit-btn" style="margin: 3px;" type="submit" title="Save">Save</button> &nbsp;
                <button class="btn cancel-btn" style="margin: 3px;" type="button" (click)="CancelForm()" title="Cancel">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>